
<ion-header>

  <ion-navbar>
    <ion-title>lembrete</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list inset>
        <button ion-item *ngIf="arrayClientes !== '0'" (click)="criarLembrete(usuario)">
           {{ arrayClientes[4] }}
        </button> 
      </ion-list>

</ion-content>
